{
  "root": true,
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": true,
    "console": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "max-len": ["error", { "code": 120 }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-debugger":"error"
  }
}
